.main {
    display: flex;
    flex-direction: column;
    max-width: 1360px;
    margin: 28px 40px 0;
    
}
.main__section {
    width: 1360px;
    display: flex;
    flex-direction: column;
}
.main__title {
    width: 1360px;
    color: #000;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 25px 0 34px;
    }

@media screen and(max-width: 780px) {
.main {max-width: 780px;}
}

.main__section {
    max-width: 780px;
}
.main__title {
    max-width: 780px;
    font-size: 1rem;
    }