.item-card {
  width: 325px;
  height: 328px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}

.item-card__image {
  width: 323px;
  height: 326px;
  border-radius: 12px;
}

.itme-card__name {
  width: 73px;
  height: 24px;
  color: #000;
  background-color: white;
  padding: 2px 12px;
  border-radius: 4px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  position: absolute;
  top: 15px;
  left: 111px;
}

.item-card__like-button {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  cursor: pointer;
  margin: 25px auto auto 10px;
}

.item-card__like-icon {
  width: 18px;
  height: 15px;
  padding: 0;
}

@media screen and (max-width: 780px) {
  .item-card__name {
    font-size: 1rem;
  }
}
