.page__section {
    max-width: 1440px;
    background-color: #f3f3f3;
    margin: 0;
}

@media screen and (max-width: 780px) {
   .page__section{
    max-width: 780px;
    min-width: calc(100%-40px);
    overflow-x: hidden;
   }
}