.main {
    padding: 0;
    display: flex;
}

.weather {
    position: relative;
    width: 1360px;
    height: 40px;
top: 100px;
left: 40px;
}

.weather__info {
    position: absolute;
    top:20px;
    left: 16px;
    width: 69px;
    height: 40px;
    font-family: Cabinet Grotesk;
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;

}
.weather img{
    width: 100%;
}