.footer {
   display: flex; 
   justify-content: space-between;
   align-items: center;
}

.footer__description {
    color: #000;
    font-family: "Cabinet Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 171px auto 24px 40px;
}

.footer__date {
    color: #000;
    text-align: right;
    font-family: "Cabinet Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    margin: 171px 40px 24px auto;
}