.footer {
   display: flex; 
   justify-content: space-between;
   align-items: center;
   max-width: 1360px;
   margin: 85px 40px 24px;
}

.footer__description {
    color: #000;
    font-family: "Cabinet Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.footer__date {
    color: #000;
    font-family: "Cabinet Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}