
.weather__bar {
    position: relative;
    max-width: 1360px;
    height: 80px;
    border-radius: 12px;
    display: flex;
    margin: 28px 40px auto;
}   

.weather__info {
    position: absolute;
    top:20px;
    left: 16px;
    color: #FFF;
font-family: "Cabinet Grotesk";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
}
.weather__image {
    width: 100%;
}

