.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1360px;
    height: 40px;
    margin: 0 40px 0;
    padding-top: 32px;
    }
    
    .header__logo {
    display: flex;
    flex-direction: row;
    min-width: 273px;
    height: 40px;
    align-items: center;
    gap: 24px;
    }
    
    .header__logo-image{
    width: 89px;
    height: 40px;
    }

    .header__date {
    min-width: 160px;
    height: 24px;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    }
    
    .header__avatar-bar {
    max-width: 345px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    }

    .header__add-button {
    max-width: 116px;
    height: 24px;
    white-space: nowrap;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    border: none;
    padding: 0;
    margin-right: 12px;
    }  
    
    .header__nav-bar {
    max-width: 139px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 28px 0 0;
    }

    .header__register-link {
    max-width: 67px;
    height: 24px;
    white-space: nowrap;
    background: none;
    border: none;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 25px;
    color: #000;
    margin: 8px 10px 8px 10px;
    }

    .header__login-link {
    max-width: 52px;
    height: 25px;
    white-space: nowrap;
    background: none;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-decoration: none;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 25px;
    color: #000;
    margin: 8px 0 8px 20px;
        }
    .header__link-bar {
    max-width: 209px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 28px 0 0;
            }
    .header__user-name {
    max-width: 157px;
    height: 25px;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 25px;
    margin: 8px 12px 7px auto;
    }
    
    .header__avatar {
    width:40px;
    height:40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.50);
    }
   
    .header__placeholder-avatar {
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    font-family: "Cabinet Grotesk", sans-serif;
    color: rgba(255,255,255);
    margin: 0 0 auto auto;
    }

    @media screen and (max-width: 780px) {
        .header {
            max-width: 780px;
            }
            
            .header__logo {
            min-width: 140px;
            height: 32px;
            gap: 10px;
            }
            
            .header__logo-image{
            max-width: 60px;
            height: 24px;
            }
        
            .header__date {
            max-width: 70px;
            height: 20px;
            font-size: 0.7rem;
            }
            
            .header__avatar-bar {
            max-width: 248px;
            gap: 8px;
            }
        
            .header__add-button {
            min-width: 90px;
            height: 24px;    
            font-size: 0.7rem;
            }  
            
            .header__user-name {
            max-width: 100px;
            height: 25px;
            font-weight: 0;
            font-size: 0.7rem;
            }
            
            .header__avatar {
            max-width:32px;
            height:32px;
            }
    
    
    }

