.modal {
    width:100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.30);
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    max-width: 496px;
    border-radius: 20px;
    background: #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
}

.modal__content .modal__close-button {
    width: 20px;
    height: 20px;
    border: none;
    background-image: url("../../images/cross.svg");
    position: absolute;
    top: 28px;
    right: 28px;
    z-index: 6px;
}

.modal__content .modal__close-button:hover {
    opacity: 0.5;
    cursor: pointer
}

.modal__title{
    color: #000;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    margin: 28px auto 0 28px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    margin: 0 28px;
}

.modal__label{
    color: #000;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    max-width: 440px;
    height: 52px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.modal__input{
    color: rgba(0, 0, 0, 0.50);
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    width: 440px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2) ;
    margin: 8px 0 0;
}

.modal__input:valid {
    border-bottom:  1px solid green;
}

.modal__input_type_error {
    border-bottom: 1px solid #ff0000;
}

.modal__input::placeholder{
    color: #000;
    opacity: 0.2;
}
.modal__error {
    position: absolute;
    top: 29.74px;
    left: 0;
    color: #f00;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal__error_visible {
    opacity: 1;
}

.modal__weather-type {
    max-width: 173px;
    height: 108px;
    display: flex;
    flex-direction: column;
    margin: 24px auto 32px 0;
}

.modal__weather-title {
    max-width: 173px;
    height: 20px;
    color: #000;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    white-space: nowrap;
    margin:0;
}

.modal__weather-type input[type="radio"] {
    margin: 12px 11px 0 0;
}

.modal__weather-type label {
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 12px auto 0 0;
}

 .modal__submit-container {
    max-width: 164px;
    height: 35px;
    display: flex;
    flex-direction: row;
    margin: 32px auto 36px 28px;
}  

.modal__option-button {
    background: none;
    border: none;
    white-space: nowrap;
    color:  rgba(0, 0, 0, 0.5);
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px;
    margin: 8px auto 8px 12px;
}

.modal__submit-button{
    color: #FFF;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25px; 
    width: auto;
    height: 36px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.30);
    padding: 8px, 16px, 8px, 16px;
    margin: 0 auto 36px 0;
}

.modal__submit-button:hover {
    opacity: 0.5;
    cursor: pointer
}

@media screen  and (max-width: 780px){
  
    
    .modal__content {
        max-width: 330px;
        height: 330px;
        border-radius: 16px;
    }
    
    .modal__content .modal__close-button {
        top: 20px;
        right: 28px;
    }
    
    
    .modal__title{
        font-size: 0.8rem;
        margin: 20px auto 0 28px;
    }
    
    .modal__form {
        display: flex;
        flex-direction: column;
        margin: 0 28px 0;
    }
    
    .modal__label{
        font-size: 0.8rem;
        height: 32px;
        margin-top: 14px;
    }
    
    .modal__input{
        font-size: 0.8rem;
        margin: 6px 0 0;
        width: 274px;
    }
    
    
    
    .modal__weather-title{
        font-size: 0.8rem;
    }
    
    .modal__weather-type  {
        font-size: 0.8rem;
    }
    
    .modal__weather-type input[type="radio"] {
        margin: 4px 11px 0 0;
    }
    
    .modal__weather-type label {
        font-size: 0.8rem;
        margin: 4px auto 0 0;
    }
    
    .modal__submit-button{
        margin: 12px auto 36px 0;
    }
    
}