@import "./vendor/fonts.css";
@import "./vendor/normalize.css";

body {
  font-family: "Cabinet Grotesk", sans-serif;
}

h1 {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
}

h2 {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
}

h3 {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 400;
}
