.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    height: 40px;
    margin: 32px 40px auto;
    }
    
    .header__logo {
    display: flex;
    width: 89px;
    height: 40px;
    align-items: center;
    gap: 24px;
    }
    
    .header__logo-image{
    width: 89px;
    height: 40px;
    }

    .header__date {
    width: 116px;
    height: 24px;
    font-family: "Cabinet Grotesk";
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    }
    
    .header__add-button {
    width: 116px;
    height: 24px;
    font-family: "Cabinet Grotesk";
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    border: none;
    background-color: initial;
    display: flex;
    align-items: center;
    }  
    
    .header__user-name {
    width: 157px;
    height: 25px;
    font-family: "Cabinet Grotesk";
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    }
    
    .header__avatar-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    }
    
    .header__avatar {
    width:40px;
    height:40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.50);
    }