.header {
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 1360px;
    height: 40px;
    margin: 32px 40px 0;
    }
    
    .header__logo {
        width: 89px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 10px;
    left: 0;
    }
    
    .header__date {
        display: flex;
        align-items: center;
        width: 116px;
    height: 24px;
        font-family: Cabinet Grotesk;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    }
    
    .header__add-button {
        display: flex;
    align-items: center;
        width: 116px;
    height: 24px;
      font-family: Cabinet Grotesk;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    }  
    
    .header__user-name {
        display: flex;
        align-items: center;
        width: 157px;
    height: 25px;
        font-family: Cabinet Grotesk;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    }
    
    .header__avatar-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    gap: 12px;
    position: absolute;
    top: 10px;
    right: 0;
    }
    
    .header__avatar {
        display: flex;
        align-items: center;
        width:40px;
        height:40px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid rgba(0, 0, 0, 0.50);
    }