.toggleSwitch {
  display: flex;
  align-items: center;
  position: relative;
  margin: 6px 12px 6px auto;
}

.toggleSwitch__box {
  width: 56px;
  height: 28px;
  border-radius: 20px;
  border: 1px solid #000;
  appearance: none;
}

.toggleSwitch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  position: absolute;
}
.toggleSwitch__slider-F {
  top: 3px;
  left: 5px;
}

.toggleSwitch__slider-C {
  top: 3px;
  left: 32px;
}

.toggleSwitch__temp-F {
  position: absolute;
  top: -5px;
  left: 14px;
  color: #fff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
}

.toggleSwitch__temp-C {
  position: absolute;
  top: -5px;
  left: 42px;
  color: #fff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
}

@media screen and (max-width: 430px) {
  .toggleSwitch {
    margin: 0 6px 0 auto;
  }
  .toggleSwitch__box {
    width: 30px;
    height: 15px;
    border-radius: 20px;
  }
  .toggleSwitch__slider {
    border-radius: 20px;
    width: 15px;
    height: 15px;
  }
  .toggleSwitch__slider-F {
    top: 3px;
    left: 5px;
  }

  .toggleSwitch__slider-C {
    top: 3px;
    left: 18px;
  }
  .toggleSwitch__temp-F {
    top: -5px;
    left: 8px;
    font-size: 10px;
    line-height: 12px;
  }

  .toggleSwitch__temp-C {
    top: -5px;
    left: 22px;
    font-size: 10px;
    line-height: 12px;
  }
}
