.card__section {
    max-width: 1360px;
    margin: 40px 40px 85px;
}

.card__image {
    max-width: 328px;
    height: 328px;
    border-radius: 12px;
}

.card__name {
    color: #000;
    font-family: "Cabinet Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    position: absolute;
    top:18px;
    left:140px;

}

.card__items {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    position: relative;
}

.card__items-title {
max-width: 1360px;
color: #000;
font-family: "Cabinet Grotesk";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 34px;
}

@media screen  and (max-width: 780px){
    .card__section {
        max-width: 780px;
    }
    
    .card__image {
        max-width: 328px;
        height: 328px;
        border-radius: 12px;
    }
    
    .card__name {
        font-size: 1rem;    
    }
    
    .card__items {
        display: flex;
        flex-wrap: wrap;
        gap: 17px;
        position: relative;
    }
    
    .card__items-title {
    max-width: 780px;
    font-size: 1rem;
    }
}