.card__section {
    display: flex;
    margin: 40px 40px 171px;
}

.card__image {
    width: 328px;
    height: 328px;
    border-radius: 10px;
    display: flex;
    position: relative;
}

.card__name {
    color: #000;
    font-family: "Cabinet Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    position: absolute;
    top:18px;
    left:140px;

}

.card__items {
    display: flex;
    justify-content: center;
    gap:17px;
    margin-top: 34px;
  
}

.card__title {
    display: flex;
align-items: center;    
}
