.card__section {
    width: 1360px;
    display: flex;
    flex-direction: column;
}

.card__image {
    width: 325px;
    height: 328px;
    border-radius: 12px;
}

.card__name {
    color: #000;
    background-color: white;
    padding: 2px 12px;
    display: inline-block;
    border-radius: 4px;
    font-family: "Cabinet Grotesk";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    position: absolute;
    top:18px;
    left:140px;

}

.card__items {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    position: relative;
}

.card__items-title {
width: 1360px;
color: #000;
font-family: "Cabinet Grotesk";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 25px 0 34px;
}

@media screen  and (max-width: 780px){
    .card__section {
        max-width: 780px;
    }
    
    .card__name {
        font-size: 1rem;    
    }
    
    .card__items-title {
    max-width: 780px;
    font-size: 1rem;
    }
}