.clothesSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 43px auto 116px 0;
}

.clothesSection__header {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  flex-wrap: nowrap;
}

.clothesSection__name {
  width: 94px;
  height: 25px;
  white-space: nowrap;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
}

.clothesSection__add-button {
  width: 98px;
  height: 25px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
  white-space: nowrap;
  border: none;
  color: rgba(0, 0, 0, 0.6);
}

.clothesSection__clothing-items {
  width: 1015px;
  margin: 20px 0 0;
  display: flex;
  flex-direction: row;
  gap: 17px;
  flex-wrap: wrap;
}
